



.list {
  width: 300px;
  height: 150px;
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%), white;
  /* Combination of radial gradient and white background */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333; /* You can adjust the text color */
  font-size: 18px;
  border-radius: 50px;
  font-weight: 800;
  }
  
  .list:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    border-color: #1c0a0a; 
    transform: scale(1.01);
    transition: all 0.3s ease-in-out; 

  }
  
  @media (max-width: 786px) {
    .list {
      width: 100%; 
      height: auto; 
      font-size: 16px; 
      padding: 10px; 
    }
  }

